Source: lightblue
Section: python
Priority: extra
Maintainer: martin f. krafft <madduck@debian.org>
Uploaders: Diane Trout <diane@ghic.org>
Build-Depends: debhelper (>= 9), python-all-dev, libopenobex1-dev, python-bluez
X-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: python-lightblue
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: cross-platform Bluetooth API for Python
 The package provides a Python API which provides simple access to Bluetooth
 operations. It is available for Mac OS X, GNU/Linux and Nokia's Python for
 Series 60 platform for mobile phones.
 .
 LightBlue provides simple access to:
 .
  * Device and service discovery (with and without end-user GUIs)
  * Standard socket interface for RFCOMM and L2CAP sockets (currently
    L2CAP client sockets only, and not on PyS60)
  * Sending and receiving files over OBEX
  * Advertising of RFCOMM and OBEX services
  * Local device information
